{% extends 'base.html' %}
{% load static %}

{% block contenido_que_cambia %}


<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/71204032_10220063668132371_2441575761157554176_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=7ov_CFtJNlgAX-SkulT&_nc_ht=scontent.faep9-1.fna&oh=00_AT_dkccOQfvs3rn9morEEmBDfXNM9BpqHN2xsmXL-IUVNQ&oe=633C27CD" alt="..." />
                    <h4>Santecchia Gonzalo</h4>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Mi nombre es Gonzalo Santecchia. Tengo 24 años. Nací en La Plata, Buenos Aires. Actualmente practico tenis y tengo un emprendimiento relacionado al futbol. Además, curso programación en Coderhouse. </p></div>
                    </div>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/gonzasantecchia" aria-label="Santecchia Gonzalo Instagram Profile"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://facebook.com/gonzasantecchia" aria-label="Santecchia Gonzalo Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://pps.whatsapp.net/v/t61.24694-24/300644944_658683602260693_2065935837714770134_n.jpg?ccb=11-4&oh=01_AVyCPBotMt2em4WL4kiiDK47Kf8MaViigbKInOCUpjY7pw&oe=632802A1" alt="..." />
                    <h4>Melani Macias</h4>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Mi nombre es Melani Micaela Macías. Tengo 23 años. Nací en Río Gallegos, Santa Cruz y actualmente vivo en Córdoba capital. Estoy transitando la carrera del Profesorado en Matemática y el Profesorado en Danza. </p></div>
                    </div>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Melani Macias Instagram Profile"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Melani Macias Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            
        
    </div>
</section>

{% endblock %}